@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   Muoch Chagey
   Date:     11/10/23
   
  

*/


* {
    margin: 0; 
    padding: 0;
}

.logo {
	background-color: #8C52FF;
}

/* Horizontal Navigation Styles */

nav {
	width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  width: 25%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.horizontalNavigation a:link, 
nav.horizontalNavigation a:visited {
   color: white;
}

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   background-color: #62CFE9;
   transition: 0.5s;
}   

		/* Body Styles */

.main {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imagescss/gamingcomputer.png);
	background-position: center;
	background-size: cover;
}

.text-box {
	width: 90%;
	color: white;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box h1 {
	font-size: 62px;
}
.text-box p {
	margin: 10px 0 40px;
	font-size: 14px;
	color: white;
}
.visit {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.visit:hover {
	border: 1px solid black;
	background: #62CFE9;
	transition: 0.75s;
}
.services {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.services h1 {
	font-size: 36px;
	font-weight: 600;
} 
.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.services-col {
	flex-basis: 31%;
	background: #add8e6;
	border-radius: 10px;
	margin-bottom: 6%;
	padding: 20px 12px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2)
}


p {
	color: grey;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
body {
    font-family: Arial, Helvetica, sans-serif;	
}
/* About */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #62CFE9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: blue;
}

.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

		/* Footer Styles*/
		
.container{
	max-width: 1170px;
	margin: auto;
	margin-bottom: 25px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #333;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #62CFE9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/* navigation for footer */

